@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');

:root {

/* Colors */

/* Primary */

--clr-primary-blue: hsl(233, 26%, 24%);
--clr-primary-lime: hsl(136, 65%, 51%);
--clr-primary-cyan: hsl(192, 70%, 51%);

/* Neutral */

--clr-gray-blue-300: hsl(233, 8%, 62%);
--clr-gray-blue-100: hsl(220, 16%, 96%);
--clr-gray: hsl(0, 0%, 98%);
--clr-white: hsl(0, 0%, 100%);

}

/* GENERAL STYLES */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Public Sans', sans-serif;
  min-height: 100vh;
}

ul {
  list-style: none;
}

a,
a:active {
  text-decoration: none;
}

.btn {
  all: unset;
  display: inline-block;
  background: linear-gradient(120deg, hsl(136, 65%, 51%) 0%, hsl(192, 70%, 51%) 88%);
  border-radius: 35px;
  color: white;
  cursor: pointer;
  font-size: .9rem;
  font-weight: 700;
  padding: .8rem 2rem;
  opacity: 1;
  transition: all .2s ease;
}

.btn:hover {
  opacity: .75;
}

.btn:focus {
  /* Provide a fallback style for browsers
     that don't support :focus-visible */
  outline: 3px dotted var(--clr-primary-cyan);
}

.btn:focus:not(:focus-visible) {
  /* Remove the focus indicator on mouse-focus for browsers
     that do s  upport :focus-visible */
  outline: none;
}

.btn:focus-visible {
  /* for browsers that do support :focus-visible */
  outline: 3px dotted var(--clr-primary-cyan);
}

/* HEADER */

header {
  display: flex;
  align-items: center;
  background: var(--clr-white);
  box-shadow: 0 2px 15px 0px hsla(233, 8%, 62%, .25);
  justify-content: space-between;
  padding: 1.3rem;
  position: fixed;
  width: 100vw;
  z-index: 10;
}

.nav-skip {
  text-decoration: none;
  color: white;
  background: linear-gradient(120deg, hsl(136, 65%, 51%) 0%, hsl(192, 70%, 51%) 88%);
  border-radius: 0 0 5px 5px;
  padding: .5rem 1.5rem;
  position: absolute;
  top: 0;
  left: 0.5rem;
  transform: translateY(-120%);
  transition: transform .4s ease-in;
}

.nav-skip:focus {
  transform: translateY(0);
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  max-width: 90%;
}

.header-logo:focus {
  /* Provide a fallback style for browsers
     that don't support :focus-visible */
  outline: 3px dotted var(--clr-primary-cyan);
}

.header-logo:focus:not(:focus-visible) {
  /* Remove the focus indicator on mouse-focus for browsers
     that do s  upport :focus-visible */
  outline: none;
}

.header-logo:focus-visible {
  /* for browsers that do support :focus-visible */
  outline: 3px dotted var(--clr-primary-cyan);
}


.header-nav {
  display: none;
}

.header-menu {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: .9rem;
  list-style: none;
}

.header-menu li a {
  color: var(--clr-gray-blue-300);
  text-decoration: none;
}

.header-menu li a:focus {
  /* Provide a fallback style for browsers
     that don't support :focus-visible */
  outline: 3px dotted var(--clr-primary-cyan);
}

.header-menu li a:focus:not(:focus-visible) {
  /* Remove the focus indicator on mouse-focus for browsers
     that do s  upport :focus-visible */
  outline: none;
}

.header-menu li a:focus-visible {
  /* for browsers that do support :focus-visible */
  outline: 3px dotted var(--clr-primary-cyan);
}


.header-nav.active {
  display: block;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  max-width: 400px;
  text-align: center;
  padding: 1.5rem 0;
  border-radius: 5px;
  position: absolute;
  background: white;
  top: 5.5rem;
  box-shadow: 0px 20px 50px 0px hsla(233, 26%, 24%);
}

.header-btn {
  display: none;
}

.hamburger-btn {
  all: unset;
  cursor: pointer;
}

.hamburger-btn.opened {
  display: none;
}

.close-btn {
  all: unset;
  display: none;
  cursor: pointer;
}

.close-btn.active {
  display: block;
}

/* HERO SECTION*/

.hero {
  background: url(images/bg-intro-mobile.svg);
  background-repeat: no-repeat;
  background-size: contain;
  padding: 0 1rem;
}

.hero-img {
  max-width: 100%;
  height: auto;
  display: block;
  transform: translateY(-3.5rem);
}

.hero-body {
  text-align: center;
  padding: 0 .5rem;
}

.hero-title {
  color: var(--clr-primary-blue);
  font-size: clamp(2.5rem,4vw,3.5rem);
  font-weight: 300;
  max-width: 30rem;
}

.hero-text {
  color: var(--clr-gray-blue-300);
  line-height: 1.7;
  font-size: clamp(.95rem,2.5vw,1.1rem);
  padding-top: 1.2rem;
  max-width: 30rem;
}

.hero-btn {
  margin: 1.8rem auto;
}

/* EASYBANK OPTIONS */

.easybank-options {
  background: var(--clr-gray);
  color: var(--clr-gray-blue-300);
  text-align: center;
  padding: 8rem 1.5rem 5rem 1.5rem;
}

.easybank-options-title {
  color: var(--clr-primary-blue);
  font-size: clamp(2rem,4vw,2.4rem);
  font-weight: 300;
  padding-bottom: 1rem;
}

.easybank-options-text {
  padding-bottom: 3.5rem;
  max-width:  42rem;
}

.options-wrapper {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
}


.option {
  padding-bottom: 2rem;
  max-width: 28rem;
  margin: 0 auto;
}

.option img {
  padding-bottom: 1rem;
}

.option-title {
  color: var(--clr-primary-blue);
  font-size: clamp(1rem, 3vw, 1.5rem);
  font-weight: 300;
  padding-bottom: 1.5rem;
}

.easybank-options-text {
  font-size: clamp(.95rem, 3vw, 1.1rem);
  line-height: 1.6;
}

.option-text {
  font-size: clamp(.95rem, 3vw, 1rem);
  line-height: 1.6;
}

/* ARTICLES */

.articles {
  padding: 0 1.5rem 5rem 1.5rem;
  background: var(--clr-gray);
}

.articles-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.85rem;
}

.article-link,
.article-link:active {
  text-decoration: none;
  opacity: 1;
  transition: all .2s ease;
}

.article-link:hover {
  opacity: .85;
}

.article-link:focus {
  /* Provide a fallback style for browsers
     that don't support :focus-visible */
  outline: 3px dotted var(--clr-primary-cyan);
}

.article-link:focus:not(:focus-visible) {
  /* Remove the focus indicator on mouse-focus for browsers
     that do s  upport :focus-visible */
  outline: none;
}

.article-link:focus-visible {
  /* for browsers that do support :focus-visible */
  outline: 3px dotted var(--clr-primary-cyan);
}

.articles-title {
  color: var(--clr-primary-blue);
  font-size: 2rem;
  font-weight: 300;
  padding: 2rem 0;
  text-align: center;
}

.article-wrapper {
  background: var(--clr-white);
  border-radius: 5px;
}

.article-illustration {
  border-radius: 5px 5px 0 0;
  display: block;
  max-width: 100%;
  height: auto;
}

.article-body {
  padding: 1.5rem;
}

.article-author {
  color: var(--clr-gray-blue-300);
  font-size: .7rem;
}

.article-title {
  color: var(--clr-primary-blue);
  font-size: 1.1rem;
  font-weight: 300;
  transition: all .2s ease;
  padding-bottom: .5rem;
}

.article-title:hover {
  color: var(--clr-primary-lime);
}

.article-text {
  color: var(--clr-gray-blue-300);
  font-size: .85rem;
}

/* FOOTER SECTION */

footer {
  background: var(--clr-primary-blue);
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  padding: 2.5rem 0;
  text-align: center;
}

footer ul {
  display: flex;
  justify-content: center;
  gap: 1.1rem;
  font-size: .95rem;
}

.social-media-links {
  padding: 1.2rem 0 2.2rem 0;
}

.social-link:focus {
  /* Provide a fallback style for browsers
     that don't support :focus-visible */
  outline: 3px dotted var(--clr-primary-cyan);
}

.social-link:focus:not(:focus-visible) {
  /* Remove the focus indicator on mouse-focus for browsers
     that do s  upport :focus-visible */
  outline: none;
}

.social-link:focus-visible {
  /* for browsers that do support :focus-visible */
  outline: 3px dotted var(--clr-primary-cyan);
}

.social-link i {
  color: var(--clr-white);
  font-size: 1.5rem;
  transform: translateY(0);
  transition: all .2s ease;
}

.social-link i:hover {
  transform: translateY(-4px);
  color: var(--clr-primary-lime);
}

.footer-wrapper-mid {
  padding-bottom: 1.2rem;
}

.footer-menu {
  flex-direction: column;
  font-weight: 300;
  padding-bottom: 1.1rem;
}

.footer-menu li a,
.footer-menu li a:active {
  color: var(--clr-white);
  transition: all .2s ease;
}

.footer-menu li a:hover {
  color: var(--clr-primary-lime);
}

.footer-menu li a:focus {
  /* Provide a fallback style for browsers
     that don't support :focus-visible */
  outline: 3px dotted var(--clr-primary-cyan);
}

.footer-menu li a:focus:not(:focus-visible) {
  /* Remove the focus indicator on mouse-focus for browsers
     that do s  upport :focus-visible */
  outline: none;
}

.footer-menu li a:focus-visible {
  /* for browsers that do support :focus-visible */
  outline: 3px dotted var(--clr-primary-cyan);
}

.footer-wrapper-right {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.copyright {
  color: var(--clr-gray-blue-300);
  font-size: .95rem;
  opacity: .8;
  padding-top: 1.8rem;
}

/* MEDIA QUERIES */

@media (min-width: 45rem) {
  
  .options-wrapper {
    gap: 1.5rem;
  }
  
  .options-wrapper > * {
    width: 100%;
  }
}


@media (min-width: 50rem) {

/* HEADER */

.header-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 76rem;
}

.header-logo {
  opacity: 1;
  transition: all .2s ease;
}

.header-logo:hover {
  opacity: .85;
}

.hamburger-btn,
.close-btn {
  display: none;
}

.header-nav {
  display: inline-block;
}

.header-menu {
  flex-direction: row;
  list-style: none;
}

.header-menu li a {
  position: relative;
  transition: all .2s ease-in;
}

.header-menu li a::before {
  content: '';
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 3.2rem;
	background: linear-gradient(120deg, hsl(136, 65%, 51%) 0%, hsl(192, 70%, 51%) 88%);
	width: 0;
	height: 4px;
  transition: all .3s ease-in;
}

.header-menu li a:hover {
  color: var(--clr-primary-blue);
}

.header-menu li a:hover::before {
  width: 100%;
}

.header-btn {
  display: inline-block;
}

/* HERO */

.hero {
  background: url(images/bg-intro-desktop.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50vw 0vh;
  padding: 16rem 0 10rem 0;
}

.hero-wrapper {
  max-width: 76rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-body {
  order: 1;
  text-align: left;
}

.hero-img {
  position: absolute;
  top: 2rem;
  right: 1rem;
}

/* ARTICLES */

.articles-wrapper {
  flex-direction: row;
  margin: 0 auto;
  width: 100%;
  max-width: 76rem;
}

}

/* FOOTER SECTION */

@media (min-width: 64rem) {

.easybank-options-wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 76rem;
  text-align: left;
}

.options-wrapper {
  flex-wrap: nowrap;
}

.footer-outer-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  max-width: 76rem;
}

.footer-wrapper-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.social-media-links {
  padding: 0;
}

.footer-wrapper-mid {
  display: flex;
  flex: 0 1 35rem;
  gap: 6rem;
  padding-bottom: 0;

}

.footer-menu {
  text-align: left;
  padding-bottom: 0;
}

.footer-wrapper-right {
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;

}

}