@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');

:root {

/* Colors */

/* Primary */

--clr-primary-blue: hsl(233, 26%, 24%);
--clr-primary-lime: hsl(136, 65%, 51%);
--clr-primary-cyan: hsl(192, 70%, 51%);

/* Neutral */

--clr-gray-blue-300: hsl(233, 8%, 62%);
--clr-gray-blue-100: hsl(220, 16%, 96%);
--clr-gray: hsl(0, 0%, 98%);
--clr-white: hsl(0, 0%, 100%);

}

/* GENERAL STYLES */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Public Sans', sans-serif;
  min-height: 100vh;
}

.btn {
  all: unset;
  display: block;
  background: linear-gradient(120deg, hsl(136, 65%, 51%) 0%, hsl(192, 70%, 51%) 88%);
  border-radius: 35px;
  color: white;
  cursor: pointer;
  font-weight: 400;
  padding: .8rem 2rem;
  opacity: 1;
  transition: all .2s ease;
}

.btn:hover {
  opacity: .75;
}

/* HEADER */

/* HERO */

.hero-body {
  text-align: center;
  padding: 0 1rem;
}

.hero-title {
  color: var(--clr-primary-blue);
  font-size: 2.5rem;
  font-weight: 300;
}

.hero-text {
  color: var(--clr-gray-blue-300);
  line-height: 1.7;
  font-size: .95rem;
}

.hero-btn {
  margin: 1.5rem auto;
}

/* EASYBANK OPTIONS */

.easybank-options {
  color: var(--clr-gray-blue-300);
  text-align: center;
  padding: 0 1rem;
}

.easybank-options-title {
  color: var(--clr-primary-blue);
  font-size: 2rem;
  font-weight: 300;
  padding-bottom: 1rem;
}

.easybank-options-text {
  padding-bottom: 1rem;
}

.option img {
  padding-bottom: 1rem;
}

.option-title {
  color: var(--clr-primary-blue);
  font-weight: 300;
  padding-bottom: 1rem;
}

.easybank-options-text,
.option-text {
  font-size: .95rem;
  line-height: 1.6;
}

/* ARTICLES */

/* FOOTER */

footer {
  background: var(--clr-primary-blue);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
  gap: 1rem;
  text-align: center;
}

footer ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 1.2rem;
  font-size: .95rem;
}

.footer-logo {
  padding: .5rem 0;
}

.social-link {
  color: var(--clr-white);
  font-size: 1.5rem;
  transition: all .2s ease;
}

.social-link:hover{
  color: var(--clr-primary-lime);
}

.footer-menu {
  flex-direction: column;
  font-weight: 300;
  padding: 1.3rem 0;
}

.footer-menu li a,
.footer-menu li a:active {
  color: var(--clr-white);
  text-decoration: none;
  transition: all .2s ease;
}

.footer-menu li a:hover {
  color: var(--clr-primary-lime);
}

.copyright {
  color: var(--clr-gray-blue-300);
  font-size: .95rem;
  opacity: .8;
  padding-top: 1rem;
}